@tailwind base;
@tailwind components;
@tailwind utilities;

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

::after, ::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
    /* background: black; */
    /* background-color: #011F26; */
    background-color: #011F26;
    color: whitesmoke;
    min-height: 100vh;
    /* overflow: hidden; */
}

.containerz{
  width: 95%;
  margin-inline:auto ;
  /* overflow: none; */
}

.nav-list > a.active{
  border: 2px solid white;
}

a.socials{
  transition: 0.3s ease-in;
}

@media screen and (min-width:640px) {
  
  .containerz {
    width: 80%;
    margin-inline:auto ;
    overflow: none;
  }

  
  .bg-hero-section {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('./assets/heroImg1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}




/* car collection cards section */
.btn-bookNow:hover > .icon{
  animation-name: translate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  position: relative;
}

@keyframes translate {
  0%{
    left:0 ;
  }
  /* 25%{
    left:2px ;
  } */
  /* 50%{
    left:5px ;
  } */
  /* 75%{
    left:1.5px ;
  } */
  100%{
    left:5px ;
  }
}

.sectionSpecial{
  position: relative;
  /* box-sizing: border-box;
  margin-left: 2rem; */
}




.sectionSpecial::after{
  content: 'LUXURY RENTALS';
  height: 100%;
  /* overflow-x: hidden; */
  /* display: none; */
  font-size: 3.5rem;
  color:#023a473b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  top: 0%;
  left: 2%;
  position: absolute;
  font-weight: 900;
  z-index: -1;
  letter-spacing: 1rem;
}




.footer::after{
  content: 'CONTACT US';
  font-size: 4rem;
  color:#023a474f;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  /* align-items: center; */
  top: -5%;
  left: -6%;
  position: absolute;
  font-weight: 750;
  z-index: -1;
  letter-spacing: 1rem;
}

#carcard::before{
  /* content: 'TOYOTA PRADO'; */
  content:attr(data-descr);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
 
  /* align-items: center; */
  font-size: 1rem;
  color:#023a47c9;
  color: rgba(0, 0, 0, 0.173);
  word-wrap: break-word;
  /* background: black; */
  top: 0%;
  /* left: 0%; */
  /* left: -1%; */
  position: absolute;
  font-weight: 900;
  z-index: 10;
  letter-spacing: 0.5rem;
}




.bg-service{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url('./assets/about2img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  
}

.bg-about{
  background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)) ,url('./assets/about1Img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  
}

.noteWarning{
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.labelCheckbox{
  transition: 0.2s ease-in;
   gap: 0;
}

.labelCheckbox:hover{
  gap: 4px;
}


.labelCheckbox > span {
  transition: 2s ease-in;
  transition-property: width;
  width: 0px;
  display: none;
}

.labelCheckbox:hover > span{
  width: fit-content;
  display: block;
}

.bg-hero-section{
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('./assets/heroImg1.jpg');
  background-size: cover;
  /* background-origin: content-box; */
  background-repeat: no-repeat;
  background-position: center;

}

/* FLEET MANAGEMENT */
.fleet-hero-section{
  background:  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./assets/heroImg1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* howitworks_section */

.howitworks_section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.ptext{
  border-color: rgba(255,255,255,0.4);
}

/* aboutus_booknow */
.aboutus_booknow{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./assets/aboutusbook.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* whychooseus_bg */
.whychooseus_bg{
  background:url('./assets/road_image.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.reach-us-bg{
  background:linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('./assets/bookUsImg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* animations */
.shake{
  position: relative;
}

.phoneShake{
  position: relative;
}


.shake-con:hover > .shake,
.phone-container:hover > .phoneShake
{
  animation-name: move;
  animation-duration:0.01s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes move {
  0%{
    left: 0.1rem;
  }

  50%{
    right: 0.1rem;
  }

  100%{
    left: 0;
  }
}

@media  screen and (min-width:1024px) {
  .sectionSpecial::after{
    content: 'RENTAL';
    display: block;
    font-size: 20rem;
    top: 0;
    left: 10%;
  }

  .footer::after{
    font-size: 16rem;
  }

  .bg-hero-section{
    background: none;
  }
}

.social-links > span::before{
   content: attr(data-descr);
   position: absolute;
   left: 30px;
   top: -45%;
   height: fit-content;
   width: fit-content;
   padding: 4px 6px;
   color: white;
   background: #000;
   font-weight: 500;
   opacity: 0;
   transition: 0.2s ease-in all;
}

.social-links > span::after{
  content: '';
  position: absolute;
  right: -15px;
  top: 1px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 0;
  border-right:10px solid black;
  opacity: 0;
}

.social-links > span:hover::after,
.social-links > span:hover::before{
  opacity: 1;
}

@media screen and (min-width:640px) {
  
  .sectionSpecial::after{
    /* content: 'LUXURY RENTALS SERVICE'; */
    content: 'RENTALS';
    height: 100%;
    font-size: 13rem;
    width: 100%;
    /* display: none; */
    overflow-x: hidden;
    /* color:#023a473a; */
    color: rgba(0, 0, 0, 0.05);
    /* display: flex;
    justify-content: center;
    align-items: center; */
    top: 0%;
    left: -15%;
    position: absolute;
    font-weight: 700;
    z-index: -1;
    letter-spacing: 1rem;
  }

  
.footer::after{
  content: 'CONTACT';
  font-size: 8rem;
  color:#023a473d;
  top: 0%;
  left: 0%;
  position: absolute;
  font-weight: 650;
  z-index: -1;
  letter-spacing: 1rem;
 }
 
}

@media screen and (min-width:1240px) {
  
  .sectionSpecial::after{
    /* content: 'LUXURY RENTALS SERVICE'; */
    content: 'RENTALS';
    height: 100%;
    font-size: 13rem;
    color:#023a473a;
    /* color: rgba(0, 0, 0, 0.2); */
    display: flex;
    justify-content: center;
    align-items: center;
    display: hidden;
    top: -10%;
    left: 0px;
    position: absolute;
    font-weight: 700;
    z-index: -1;
    letter-spacing: 1rem;
  }

  
.footer::after{
  content: 'CONTACT';
  font-size: 8rem;
  color:#023a473d;
  top: 0%;
  left: 0%;
  position: absolute;
  font-weight: 650;
  z-index: -1;
  letter-spacing: 1rem;
 }
 
}

@media screen and (max-width:600px) {
  .sectionSpecial{
    overflow-x: hidden;
  }
}




 

